<!DOCTYPE html>
<head>
  <title>Snyggdisco</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<style>
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background: #0e0e0e;
  }
  .hide {
    display: none;
  }
  .play {
    margin: 0 auto 0 auto;
    text-align: center;
  }
  .play .fa-play-circle {
    font-size: 100vmin;
    color: #f0f;
  }
  h1 {
    font-family: "Comic Sans";
  }
</style> 
<body>
  <div class="play">
    <h1 class="hide">Snyggdisco!</h1>
    <a href="http://open.spotify.com/user/mnordin/playlist/3fxPqdryxjMefRQFJBWr8W">
      <i class="fa fa-play-circle"></i>
      <span class="hide">Play snyggdisco in Spotify (external link)</span>
    </a>
  </div>
</body>